
#calendar {
    width: 70%;
    margin: 40px 40px 0px 40px; /* Should allow us to nest the calendar inside of a container and give it some padding around the edges */
}

#month-label {
    font-size: 40px;
}

/* Header info should all be centered */
th {text-align: center;}

/* Force cell width and add padding */
th, td {
    padding: 10px;
    width: 10%; /* 1/7th the width of the entire table */
}

/* Force all day cells to be a certain height and align text to the top */
td {
    height: 110px;
    vertical-align: top;
}

/* Table border */
table, td, th {
    border: 2px inset #98002E;
    font-family: Helvetica;
}

/* This class is added to the calendar cells when the mouse hovers over them to give them a highlight */
.day-highlight {
    background-color: #F2DCAE;
}

/* Highlight for today's cell */
#today {
	background-color: #CCCCCC;
}

.nav {
    background-color: #98002E;
    height: 10px;
    padding: 2px;
		text-align: center;
}