/*style sheet for staff*/

body{
	background-color: #ffdbb8;	
}
img{
	height: 420px;
}
h1{
	text-align: center;
	background-color: #330000;
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-size: 30pt;	
}

h2{
	text-align: center;
	background-color: #330000;
	color: #fff;
	padding: 0px;
	marigin: 0px;
	font-size: 20pt;	
}

a:link{
	color: 990000;
	font-size: 18pt;
	font-style: oblique;
	text-decoration: none;
}

a:visited{
	color: ff00ff;	
}

a:hover{
	color: #990000;	
}

.aboutUs{
	display: inline;
	border: 2px solid black;
	border-radius: 2px;	
	float: left;
	padding: 0px;
	margin: 15px;
}

#leftAboutUs{
	float: left;
	width: auto;
		
}

#rightAboutUs{
	float: left;
	width: 900px;
	height: 700%;
	background-color: white;
}

#container, #containerTrustee {
	height: 540px;
	width: 981px;
	display: block;
	 
}

#aboutUsBox{
	width: 100%;
	display: inline;	
}

.aboutUsLinks{
	display: inline;	
	margin: 15px;
	text-align: center;
}


